{% extends "base.html" %} 
{% load variable %}
{% block content_js %} 
{{ form.media.js }}
{% endblock %} 
{% block content_media %} 
{{ form.media.css }} 
{% endblock %} 
{% block content_title %} 
{% title %} 
{% endblock content_title %}
{% block content %}
<div class="ui segment">
  <form action="" method="post" class="ui form">
    {% csrf_token %}
    <div class="equal width fields">
      <div class="field">
        <label for="{{ form.about.id_for_label }}"
          >{{ form.about.label }}</label
        >
        {{ form.about }}
      </div>
    </div>
    <div class="equal width fields">
      <div class="field">
        <label for="{{ form.logo.id_for_label }}">{{ form.logo.label }}</label>
        {{ form.logo }}
      </div>
    </div>
    <div class="equal width fields">
      <div class="field">
        <label for="{{ form.admins.id_for_label }}"
          >{{ form.admins.label }}</label
        >
        {{ form.admins }}
      </div>
    </div>
    <button class="fluid ui button" type="submit">Update</button>
  </form>
</div>
{% endblock %}
{% block extends_js %}
<script>
  $('.ui.search')
    .search({
      type          : 'category',
      minCharacters : 3,
      apiSettings   : {
        url: '{{ url("backend:select_profile") }}?term={query}',
        onResponse: function(backendResponse) {
          var response = {
            results : {}
          };
          $.each(backendResponse.results, function(index, item) {
            var maxResult = 8, display_rank = item.display_rank;
            if (index >= maxResult) return false;
            if (response.results[display_rank] === undefined) {
              response.results[display_rank] = {
                name    : display_rank,
                results : []
              }
            }
            response.results[display_rank].results.push({
              image: item.gravatar_url,
              title: item.user,
            });
          });
          return response;
        }
      }
    });
</script>
{% endblock extends_js %}