{% extends "base.html" %}
{% load static variable %}

{% block content_title %}
{% title %}
{% endblock %} 

{% block content %}
<table class="w-full border divide-y">
  <thead>
    <tr class="divide-x bg-slate-700">
      <th class="w-5/6 p-2 text-white min-w-fit" id="name">Name</th>
      <th class="w-1/6 p-2 text-white">Members</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    {% for org in organizations %}
    <tr class="divide-x hover:bg-gray-300">
      <td class="p-2"><a class="text-blue-500 hover:text-blue-600 min-w-fit" href="{{ org.get_absolute_url }}">{{ org.name }}</a></td>
      <td class="p-2 text-center">
        <a class="text-blue-500 hover:text-blue-600" href="{{ org.get_users_url }}">{{ org.member_count }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
