{% extends "base.html" %}

{% block content_media %}
<style>
  #name {
    min-width: 200px;
  }
</style>
{% endblock content_media %}

{% block content_js %}
<script src="{{ static('jquery/tablesort.js') }}" ></script>
<script type="text/javascript">
  $(function () {
    $("table").tablesort();
  });
</script>
{% endblock %} {% block content_title %}
{% include 'title.html' %}
{% endblock %} {% block title_row %} {%
set tab = 'organizations' %} {% set title = _('Organizations') %} {% include
"user/user-list-tabs.html" %} {% endblock %} {% block content %}
<div class="column">
  <div class="ui row segment">
    <table id="organization-table" class="ui sortable unstackable celled table">
      <thead>
        <tr>
          <th class="ten wide sorted descending" id="name">{{ _('Name') }}</th>
          <th class="center aligned two wide">{{ _('Members') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for org in organizations %}
        <tr>
          <td><a href="{{ org.get_absolute_url() }}">{{ org.name }}</a></td>
          <td class="center aligned">
            <a href="{{ org.get_users_url() }}">{{ org.member_count }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
