<tr>
  <td class="center aligned">{{ rank }}</td>
  <td>
    <div class="grid ui">
      <div class="eight wide column">
        <a class="left aligned user newbie" href="{% url 'user_page' user.username %}">{{ user.fullname }}</a>
      </div>
      {% if user.organization %}
        <div class="eight wide column">
          <p class="right aligned six wide organization"> {{ user.organization }} </p>
        </div>
      {% endif %}
    </div>
  </td>
  <td></td>
  {% if is_admin %}
  <td>
    <form action="{{ kick_url }}" method="POST" class="kick-form">
      {% csrf_token %}
      <input type="hidden" name="user" value="{{ user.id }}">
      <a href="#" class="fluid ui inverted red button">Kick</a>
    </form>
  </td>
  {% endif %}
  <td class="center aligned">{{ user.point }}</td>
</tr>