{% extends "user/base-users.html" %}

{% block user_js %}
    <script type="text/javascript">
        $(function () {
            $('form.kick-form').find('a.button').click(function () {
                if (confirm("{{ _('Are you sure you want to kick this user?') }}")) {
                    $(this).parent().submit();
                }
                return false;
            })
        });
    </script>
{% endblock %}

{% block table_user %}{% include "organization/users-table.html" %}{% endblock %}
