django>=4.0
django-mptt
jsonfield
django_jinja
celery
django-compressor
django-sortedm2m==3.1.1
django-reversion
martor
ua_parser
django-semantic-admin @ git+git://github.com/patpro28/semantic-admin.git
lxml
ansi2html
mistune==0.8.4
mysqlclient
websocket-client