django>=4.0,<4.1
django-mptt
jsonfield
django_jinja
django_redis
django-statici18n
django_select2
django-admin-sortable2
celery
django-compressor
django-sortedm2m==3.1.1
django-reversion
martor @ git+git://github.com/patpro28/martor.git
ua_parser
django-semantic-admin @ git+git://github.com/patpro28/semantic-admin.git
lxml
ansi2html
mistune==0.8.4
mysqlclient
websocket-client