django>=3.2,<4.0
django-mptt
jsonfield
django_redis
django-statici18n
django_select2
django-compressor
django-reversion
martor @ git+https://github.com/patpro28/martor.git
ua_parser
django-grappelli
lxml
ansi2html
bleach==4.1.0
pygments
markupsafe
pillow
pandoc