{% extends 'base.html' %}

{% block content_media %}
<link rel="stylesheet" href="{{ static('submission/rank.css') }}">
{% endblock content_media %}

{% block content_title %}
{% include 'title.html' %}
{% endblock content_title %}

{% block content %}
<div class="column">
{% if page_obj and page_obj.has_other_pages() %}
  <div class="ui segment">
    {% include 'list-page.html' %}
  </div>
{% endif %}
<div class="ui row segment">
  <table class="ui celled striped unstackable table">
    <thead>
      <tr>
        <th class="one wide center aligned">{{ _('Result') }}</th>
        <th class="one wide center aligned">{{ _('Time') }}</th>
        <th class="three wide center aligned">{{ _('User') }}</th>
        <th class="center aligned">{{ _('Contest') }}</th>
        <th class="two wide center aligned date_field">{{ _('Date') }}</th>
        <th class="two wide">
        </th>
      </tr>
    </thead>
    <tbody>
      {% for submission in submissions %}
        {% include 'submission/row.html' %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% if page_obj and page_obj.has_other_pages() %}
  <div class="ui segment">
    {% include 'list-page.html' %}
  </div>
{% endif %}
</div>
{% endblock content %}