{% load timedelta profile %}
<div class="flex items-center justify-center w-full h-8 col-span-1 col-start-1 font-semibold bg-white result sm:h-10">
  {{ submission.result_class }}
</div>
<div class="flex items-center justify-center w-full h-10 col-span-1 col-start-2 bg-white time">
  {% if submission.is_contest %}
  {{ submission.time_excute|timedelta:'simple' }}
  {% else %}
  --------
  {% endif %}
</div>
<div class="flex items-center justify-center w-full h-8 col-span-1 col-start-3 text-xs bg-white user sm:text-sm sm:h-10">
  {% if submission.is_contest %}
  {% link_user submission.user.user %}
  {% else %}
  {% link_user submission.profile %}
  {% endif %}
</div>

{% if submission.is_contest %}
<a href="{{ submission.contest.get_absolute_url  }}"class="flex items-center justify-center w-full h-8 col-span-1 col-start-4 text-xs font-bold bg-white contest sm:text-sm md:text-base sm:h-10">
  <span class="mr-4">Contest: </span>
  <span>{{ submission.contest }}</span>
</a>
{% else %}
<a href="{{ submission.problem.get_absolute_url  }}"class="flex items-center justify-center w-full h-8 col-span-1 col-start-4 text-xs font-bold bg-white contest sm:text-sm md:text-base sm:h-10">
  <span class="mr-4">Problem: </span>
  <span>{{ submission.problem }}</span>
</a>
{% endif %}

<a href="{% url 'education:submission_status'  submission.pk  %}" class="col-span-1 col-start-5 bg-white" >
  <div class="flex items-center justify-center w-full h-8 detail sm:h-10">
      <i class='bx bx-window-open'></i>
  </div>
</a>