{% extends 'base.html' %} 
{% load timedelta %}
{% block content_title %} {% include 'title.html' %}
{% endblock content_title %} {% block content_media %}
<style>
  .wrong {
    color: red;
  }
  .correct {
    color: green;
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/accordion.min.css" integrity="sha512-8K01LT5meQmw23TL3XDMR1YQyJA7sd2CSoof3zcQYA1q065OojNdYMhYQugDfU5v5KdsdMEuKOUY6nMOCwj1HA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock content_media %} 
{% block content_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/accordion.min.js" integrity="sha512-QHden+jR94AVti4Gt2HcaEbLGDzdgTtSPg82N21vfCCp2gNLcYcPPuG7S77bQzSts4ujSQeg9orK7bbC1GPdlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock content_js %}
{% block content %}
<div class="column">
  <div class="grid ui two column equal width segment">
    <div class="column">
      <canvas id="myChart" width="100px" height="100px"></canvas>
      <div class="grid ui segment two column equal width">
        <div class="column">
          <strong>Point: </strong>{{ point|floatformat:2 }}
        </div>
        <div class="column">
          <strong>Time: </strong>{{ submission.time_excute|timedelta:'simple' }}
        </div>
      </div>
    </div>
    <div class="column">
      <div class="fluid ui styled accordion">
        {% for output, result in status %}
        <div class="title {% if not output %}disable{% endif %}">
          Problem {{ forloop.counter }}:
          <span class="{{ result|lower }}">{{ result }}</span>
        </div>
        <div class="content">
          {% if output and perms.education.view_output_submission %} User answer:{{ output }} {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block extends_js %}
<script>
  $(".ui.accordion").accordion();
  const ctx = document.getElementById("myChart").getContext("2d");
  const myChart = new Chart(ctx, {
    type: "pie",
    data: {
      labels: ["Correct", "Wrong", "Pending"],
      datasets: [
        {
          label: "Result of submission",
          data: [{{correct}}, {{wrong}}, {{pending}}],
          backgroundColor: [
            "rgba(9, 255, 0, 0.911)",
            "rgba(255, 0, 0, 0.808)",
            "rgba(156, 156, 156, 0.911)",
          ],
          borderColor: [
            "rgba(9, 255, 0, 0.911)",
            "rgba(255, 0, 0, 0.808)",
            "rgba(156, 156, 156, 0.911)",
          ],
          borderWidth: 1,
        },
      ],
    },
  });
</script>
{% endblock extends_js %}
