.user {
    font-weight: 700;
  }
  
  .newbie,
  .newbie:hover {
    color: #999999;
  }
  
  .amateur,
  .amateur:hover {
    color: #00a900;
  }
  
  .expert,
  .expert:hover {
    color: #0000ff;
  }
  
  .candidate-master,
  .candidate-master:hover {
    color: #800080;
  }
  
  .master,
  .master:hover {
    color: #ffb100;
  }
  
  .grandmaster,
  .grandmaster:hover {
    color: #ee0000;
  }
  
  .organization {
    color: #808080;
    font-weight: 500;
  }
  