{% extends "base.html" %}

{% block content_media %}
    <style>
        #access-code-form {
            margin: 50px auto 0;
            display: block;
            max-width: 500px;
        }

        #id_access_code {
            width: 100%;
        }

        .button-line {
            text-align: right;
        }
    </style>
{% endblock %}

{% block content %}
<div class="column">
    <div class="grid ui two column centered">
        <div class="ui segment column">
            <form id="access-code-form" action="" method="post" class="ui form" >
                {% csrf_token %}
                {% if form.errors or wrong_code %}
                <div class="ui message negative">
                  <i class="close icon"></i>
                  <p>Invalid access code.</p>
                </div>
                {% endif %}
                <div class="field">
                  <label for="{{ form.access_code.id_for_label }}">Please enter your access code:</label>
                  {{ form.access_code }}
                </div>
                <button class="fluid ui primary button" type="submit">Join Contest</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extends_js %}
{% include 'message_js.html' %}
{% endblock extends_js %}