{% extends 'base.html' %}
{% load i18n timedelta utils datetime contest %}

{% block content_js %}
<script type="text/javascript">
  $(document).ready(function () {
      $('.time-remaining').each(function () {
          count_down($(this));
      });
  });
</script>
{% include "contest/media-js.html" %}
{% endblock content_js %}

{% block content %}
{% in_contest contest request.user as in_contest %}
<div class="flex justify-between">
    <div class="contest_info">
        <h1 class="text-2xl font-semibold">{% firstof title content_title %}</h1>
        <h1 class="text-base font-semibold text-gray-500">
            <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ contest.name|urlquote:'' }}&amp;iso={{ contest.start_time|utc|date:'Y-m-d\TH:i:s' }}" class="date">
            {% if in_contest and not request.participation.live %}
                {% if request.participation.spectate %}
                    Spectating, contest ends in {% as_countdown contest.time_before_end %}.
                {% elif request.participation.end_time %}
                    Participating virtually, {% as_countdown request.participation.time_remaining %} remaining.
                {% else %}
                    Participating virtually.
                {% endif %}
            {% else %}
                {% if contest.start_time > now %}
                    Starting in {% as_countdown contest.time_before_start %}
                {% elif contest.end_time < now %}
                    Contest is over.
                {% else %}
                    {% if has_joined %}
                        {% if live_participation.ended %}
                            Your time is up! Contest ends in {% as_countdown contest.time_before_end %}.
                        {% else %}
                            You have {% as_countdown live_participation.time_remaining %} remaining.
                        {% endif %}
                    {% else %}
                        Contest ends in {% as_countdown contest.time_before_end %}.
                    {% endif %}
                {% endif %}
            {% endif %}
            </a>
        </h1>
    </div>

    {% if contest.can_join or is_editor %}
        {% if contest.ended %}
        {# virtual participation #}
        {% if in_contest %}
            <form action="{% url 'education:contest_leave'  contest.key  %}" method="post" class="ui form">
            {% csrf_token %}
                <input type="submit" class="p-4 py-2 text-sm font-medium text-white bg-black rounded-lg hover:bg-gray-800 leaving-forever" value="Leave contest">
            </form>
        {% else %}
            <form action="{% url 'education:contest_join'  contest.key %}" method="post" class="ui form">
            {% csrf_token %}
                <input type="submit" value="{% trans 'Join contest' %}" class="p-4 py-2 text-sm font-medium text-white bg-black rounded-lg hover:bg-gray-800">
            </form>
        {% endif %}
        {% else %}
        {# live participation #}
        {% if in_contest %}
            <form action="{% url 'education:contest_leave' contest.key %}" method="post" class="ui form">
            {% csrf_token %}
            <input type="submit" value="{% spaceless %}
            {% if request.participation.spectate %}
                Stop spectating
            {% else %}
                Leave contest
            {% endif %}
            {% endspaceless %}" 
            class="p-4 py-2 text-sm font-medium text-white bg-black rounded-lg hover:bg-gray-800">
            </form>
        {% elif is_editor or live_participation.ended %}
            <form action="{% url 'education:contest_join' contest.key %}" method="post" class="ui form">
            {% csrf_token %}
                <input type="submit" class="p-4 py-2 text-sm font-medium text-white bg-black rounded-lg hover:bg-gray-800" value="Spectate contest">
            </form>
        {% else %}
            <form action="{% url 'education:contest_join' contest.key %}" method="post">
            {% csrf_token %}
                <input type="submit" class="rounded-lg bg-black p-4 py-2 text-sm font-medium text-white hover:bg-gray-800 {% if not has_joined %}first-join{% endif %}" value="Join contest">
            </form>
        {% endif %}
        {% endif %}
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="column">
        {% include 'contest/contest-list-tab.html' %}
        <div class="ui bottom attached segment">
          <h1 class="ui center aligned header">
            
          </h1>
          <div class="mt-2 min-h-[24rem] rounded-lg bg-white shadow-lg p-4">
              {% if contest.description %}
              {{ contest.description }}
              {% else %}
              {% trans 'There is no information for this contest' %}
              {% endif %}
          </div>
          {% if in_contest %}
          
          <a class="w-full" href="{% url 'education:contest_task' contest.key %}">
            <div class="flex justify-center p-2 mt-4 font-medium text-white bg-black rounded-lg hover:bg-gray-900">
                {% trans 'Take a test' %}
            </div>
          </a>
          {% endif %}
        </div>
    </div>
</div>
{% endblock content %}