<div class="flex h-12 mt-8 overflow-auto bg-white rounded-lg shadow-lg">
  <a href="{% url 'education:contest_detail' contest.key %}" class="flex items-center justify-center h-12 px-1 rounded-lg cursor-pointer min-w-fit w-28 hover:bg-gray-200">
    <span><i class="fa-solid fa-circle-info"></i></span>
    <h1 class="ml-1 text-base font-medium">Info</h1>
  </a>

  <div class="flex items-center justify-center h-12 px-1 rounded-lg cursor-pointer min-w-fit w-28 hover:bg-gray-200">
    <span><i class="fa-solid fa-chart-pie"></i></span>
    <h1 class="ml-1 text-base font-medium">Static</h1>
  </div>

  <a href="{% url 'education:contest_ranking' contest.key %}" class="flex items-center justify-center h-12 px-1 rounded-lg cursor-pointer min-w-fit w-28 hover:bg-gray-200">
    <span><i class="fa-solid fa-chart-column"></i></span>
    <h1 class="ml-1 text-base font-medium">Ranking</h1>
  </a>

  {% if has_solution %}
  <a href="{% url 'education:contest_editorial' contest.key %}" class="flex items-center justify-center h-12 px-1 rounded-lg cursor-pointer min-w-fit w-28 hover:bg-gray-200">
    <span><i class="fa-solid fa-book-open-reader"></i></span>
    <h1 class="ml-1 text-base font-medium">Editorial</h1>
  </a>
  {% endif %}

  <a href="{% url 'admin:education_contest_change' contest.pk  %}" class="flex items-center justify-center h-12 px-1 rounded-lg cursor-pointer min-w-fit w-28 hover:bg-gray-200">
    <span><i class="fa-solid fa-pen-to-square"></i></span>
    <h1 class="ml-1 text-base font-medium">Edit</h1>
  </a>

  <a href="{% url 'education:contest_pdf' contest.key  %}" class="flex items-center justify-center h-12 px-1 rounded-lg cursor-pointer min-w-fit w-28 hover:bg-gray-200">
    <span class="text-red-600"><i class="fa-solid fa-file-pdf"></i></span>
    <h1 class="ml-1 text-base font-medium text-red-500">PDF</h1>
  </a>
</div>


