{% extends "base.html" %} 
{% load static contest variable i18n timedelta %}
{% block meta %}
<meta
  name="description"
  content="The {{ SITE_NAME }}'s contest list - past, present, and future."
/>
{% endblock %} 
{% block content_media %}
<style>
  .time-left {
    text-align: left;
    color: #777;
    padding-top: 0.5em;
  }

  .content-description ul {
    padding: 0 !important;
  }

  .contest-block {
    padding: 0.5em 0.5em 0.5em 1em;
  }
</style>
{% endblock %} 
{% block content_title %} 
{% title %} 
{% endblock content_title %} 
{% block content_js %}
<script type="text/javascript">
  $(document).ready(function () {
    $(".time-remaining").each(function () {
      count_down($(this));
    });

    $(".join-warning").click(function () {
      return confirm(
        "Are you sure you want to join?\n" +
          "Joining a contest for the first time starts your timer, after which it becomes unstoppable."
      );
    });
  });
</script>
{% endblock %} 
{% block title_row %} 
{% with tab as 'list' %}
{% include "contest/contest-list-tabs.html" %} 
{% endwith %}
{% endblock %} 

{% block content %} {% if active_participations %}
<div class="mt-8">
  <div class="font-semibold">Contest Joining ✋🏻</div>
  <div class="mt-4">
    {% for participation in active_participations %} 
    {% with participation.contest as contest %}
    <div
      class="flex justify-between w-full h-16 p-2 pl-3 pr-3 mb-2 bg-white rounded-lg joining"
    >
      <div class="flex items-center">
        <img
          class="object-cover w-12 h-12 rounded-lg"
          src="https://wallpapercave.com/wp/wp8216868.jpg"
          alt=""
        />
        {% head contest %}
      </div>
      <div>
        {% if contest.time_limit %}
        <span class="time">
          Window ends in {% as_countdown participation.time_remaining %},
        </span>
        {% elif contest.time_before_end %}
        <span class="time">
          Ends in {% as_countdown contest.time_before_end %}
        </span>
        {% endif %}
      </div>
      <a
        href="{% url 'education:contest_ranking'  contest.key %}"
        class="flex items-center justify-between w-24 p-2 my-auto text-xs text-white bg-black rounded-lg cursor-pointer h-9"
      >
        <i class="bx bxs-user mr-0.5"></i>
        <span> {{ contest.user_count }} | View </span>
      </a>
    </div>
    {% endwith %} {% endfor %}
  </div>
</div>
{% endif %}
<div>
  {% if current_contests %}
  <div class="grid grid-cols-1 gap-1 mt-8 md:grid-cols-2 rounded-2xl">
    {% with current_contests|first as contest %}
    <div class="relative bg-[url(https://www.enjpg.com/img/2020/ios-14-11.jpg)] bg-cover bg-center bg-no-repeat w-full h-64 rounded-2xl p-4 pl-6 pr-6">
      <div class="text-base font-semibold text-white">Ongoing Contests</div>
      <div class="text-xs text-white">
        <span class="time">
          Ends in {% as_countdown contest.time_before_end %}
        </span>
      </div>
      <div class="mt-8 text-3xl font-semibold text-white">{{ contest.name }}</div>
      <div class="mt-auto text-xs text-white">
        {{ contest|time_left:_("M j, Y, G:i") }}
      </div>
    </div>
    {% endwith %}
    <div class="w-full h-64 p-2 pr-2 bg-white list rounded-2xl">
      <div class="flex items-center ml-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5 text-yellow-500"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"
          />
        </svg>
        <div class="mt-2 mb-2 ml-1 text-base font-semibold">
          Activating Contests
        </div>
      </div>
      <hr />
      <div class="h-48 pl-1 overflow-auto contest_board">
        <div class="w-full cursor-pointer">
          {% for contest in current_contests %}
          <div
            class="active_contest w-full text-sm p-1.5 pl-3 pr-1.5 rounded-lg flex justify-between items-center mt-1"
          >
            <a class="font-semibold" href="{% url 'education:contest_detail' contest.key  %}">
              {{ contest.name }}
            </a>
            {% join request contest %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if contests %}
  <div class="mt-8">
    <div class="font-semibold">Contest History ✋🏻</div>
    {% if page_obj and page_obj.has_other_pages %} 
      {% include "list-page.html" %}
    {% endif %}
    <div class="mt-4">
      {% for contest in contests %}
      <div class="flex justify-between w-full p-2 pl-3 pr-3 mb-2 bg-white rounded-lg joining">
        <div class="flex items-center">
          <img
            class="hidden object-cover w-12 h-12 rounded-lg sm:inline"
            src="https://wallpapercave.com/wp/wp8216868.jpg"
            alt=""
          />
          {% head contest %}
        </div>
        <a
          href="{% url 'education:contest_ranking' contest.key %}"
          class="flex items-center justify-between p-2 my-auto text-xs text-white bg-black rounded-lg cursor-pointer h-9"
        >
          <i class="bx bxs-user mr-0.5"></i>
          <span> {{ contest.user_count }} </span>
          <span class="hidden sm:inline">| View </span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %} {% endblock %} {% block notification %} {% if hot_contest %}
  <div class="mt-4 upcoming_contest rounded-2xl">
    <div
      class="relative bg-[url(https://wallpapercave.com/wp/wp8216868.jpg)] bg-cover bg-no-repeat bg-center w-full h-56 rounded-2xl p-4 pl-6 pr-6"
    >
      <div class="text-base font-semibold text-white">Upcoming Contests</div>
      <div class="text-xs text-white">
        <span class="time">
          Starting in {% as_countdown hot_contest.time_before_start %}.
        </span>
      </div>
      <div class="mt-8 text-3xl font-semibold text-white">
        {{ hot_contest.name }}
      </div>
      <div class="mt-auto text-xs text-white">
        {{ hot_contest|time_left:_("M j, Y, G:i") }}
      </div>
    </div>
  </div>
  {% endif %} {% endblock notification %}
</div>
