{% extends 'base.html' %}
{% load variable %}

{% block content_title %}
{% title %}
{% endblock content_title %}

{% block content_media %}
{% endblock content_media %}

{% block content_js %}
{% include 'contest/media-js.html' %}
<script>
  $(document).ready(function () {
    $('#show-username').click(function () {
      $('.username_column').toggle();
      localStorage.setItem('show-usernames', $('.username_column').is(':visible') ? 'true' : 'false');
    });

    console.log(localStorage.getItem('show-usernames'))
  
    if (localStorage.getItem('show-usernames') == 'true') {
      $('.username_column').show();
      $('#show-username').prop('checked', true);
    }

    $('#show-organization').click(function () {
      $('.organization_column').toggle();
      localStorage.setItem('show-organizations', $('.organization_column').is(':visible') ? 'true' : 'false');
    });
  
    if (localStorage.getItem('show-organizations') == 'true') {
      $('.organization_column').show();
      $('#show-organization').prop('checked', true);
    }
  });
</script>
{% endblock content_js %}

{% block content %}
{% include 'contest/contest-list-tab.html' %}
<div class="flex flex-col items-stretch w-full mt-4 space-y-4">
  <div class="flex">
    <div class="flex items-center space-x-2 basis-1/4">
      <input type="checkbox" class="w-5 h-5" id="show-username">
      <label class="font-bold" for="show-username">Show username</label>
    </div>
    <div class="flex items-center space-x-2 basis-1/4">
      <input type="checkbox" class="w-5 h-5" id="show-organization">
      <label class="font-bold" for="show-organization">Show organization</label>
    </div>
  </div>    
  <div class="w-full overflow-x-auto whitespace-nowrap">
    {% include 'contest/ranking-table.html' %}
  </div>
</div>
{% endblock content %}