{% extends 'base.html' %}

{% block content_title %}
{% include 'title.html' %}
{% endblock content_title %}

{% block content_media %}
<link rel="stylesheet" href="{{ static('submission/rank.css') }}?v=13123">
{% endblock content_media %}

{% block content_js %}
{% include 'contest/media-js.html' %}
<script>
  $(function () {
    $('#show-username').click(function () {
      $('.username_column').toggle();
      localStorage.setItem('show-usernames', $('.username_column').is(':visible') ? 'true' : 'false');
    });
  
    if (localStorage.getItem('show-usernames') == 'true') {
      $('.username_column').show();
      $('#show-username').prop('checked', true);
    }

    $('#show-organization').click(function () {
      $('.organization_column').toggle();
      localStorage.setItem('show-organizations', $('.organization_column').is(':visible') ? 'true' : 'false');
    });
  
    if (localStorage.getItem('show-organizations') == 'true') {
      $('.organization_column').show();
      $('#show-organization').prop('checked', true);
    }
  });
</script>
{% endblock content_js %}

{% block content %}
<div class="column">
  {% include 'contest/contest-list-tab.html' %}
  <div class="ui bottom attached segment">
    <div class="ui equal width five column grid" style="margin-bottom: 1px;">
      <div class="column">
        <div class="ui checkbox">
          <input type="checkbox" id="show-username">
          <label for="show-username">{{ _('Show username') }}</label>
        </div>
      </div>
      <div class="column">
        <div class="ui checkbox">
          <input type="checkbox" id="show-organization">
          <label for="show-organization">{{ _('Show organization') }}</label>
        </div>
      </div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
    <div style="overflow-x: auto; white-space:nowrap;">
      {% include 'contest/ranking-table.html' %}
    </div>
  </div>
</div>
{% endblock content %}