<table class="w-full border table border-gray-500">
  <thead class="bg-indigo-500 text-white">
    <tr class="divide-x divide-gray-500">
      <th class="text-center px-2">{{_('Rank')}}</th>
      <th class="w-12 text-center px-2">{{ _('Points') }}</th>
      <th class="organization_column hidden text-center px-2">{{ _('Organization') }}</th>
      <th class="username_column hidden text-center px-2">{{ _('Username') }}</th>
      <th class="text-center px-2">{{ _('Fullname') }}</th>
      {% for problem in problems %}
        <th class="py-1 text-center">
          <div class="flex min-w-[80%] w-16 flex-col my-auto items-center">
            {% if can_edit %}
            <a href="{{ url('education:problem_detail', problem.problem.code)}}">
            {% endif %}
            <div class="text-xl">
              {{- contest.get_label_for_problem(loop.index0) }}
            </div>
            {% if can_edit %}
            </a>
            {% endif %}
            <div class="text-xs text-white">
              {{ problem.points }}
            </div>
          </div>
        </th>
        {% endfor %}
    </tr> 
  </thead>
  <tbody class="divide-y divide-gray-500">
    {% for rank, user in users %}
      {% include 'contest/row.html' %}
    {% endfor %}
  </tbody>
</table>