<div class="recent_contest">
  <div class="flex mt-6">
      <div class="font-semibold">Recent Contests</div>
      <div class="text-gray-400 ml-auto cursor-pointer font-medium text-sm">See all</div>
  </div>
  
  <div class="shadow-md mt-3 h-16 w-full bg-white rounded-xl flex items-center">
      <div class="context_img ml-2 mr-2">
          <img class="h-12 w-12 rounded-lg" src="https://i.pinimg.com/originals/1f/59/96/1f5996aba19e6c5f45d757e352ef4afa.jpg" alt="">
      </div>
      <div class="context_content mb-2">
          <div class="font-semibold text-sm">Contest 23: BFS</div>
          <div class="text-gray-400 cursor-pointer font-medium text-xs">19 Feb 2022,  Saturday</div>
      </div>
  </div>

  <div class="shadow-md mt-3 h-16 w-full bg-white rounded-xl flex items-center">
      <div class="context_img ml-2 mr-2">
          <img class="h-12 w-12 rounded-lg" src="https://i.pinimg.com/originals/1f/59/96/1f5996aba19e6c5f45d757e352ef4afa.jpg" alt="">
      </div>
      <div class="context_content mb-2">
          <div class="font-semibold text-sm">Contest 23: BFS</div>
          <div class="text-gray-400 cursor-pointer font-medium text-xs">19 Feb 2022,  Saturday</div>
      </div>
  </div>

  <div class="shadow-md mt-3 h-16 w-full bg-white rounded-xl flex items-center">
      <div class="context_img ml-2 mr-2">
          <img class="h-12 w-12 rounded-lg" src="https://i.pinimg.com/originals/1f/59/96/1f5996aba19e6c5f45d757e352ef4afa.jpg" alt="">
      </div>
      <div class="context_content mb-2">
          <div class="font-semibold text-sm">Contest 23: BFS</div>
          <div class="text-gray-400 cursor-pointer font-medium text-xs">19 Feb 2022,  Saturday</div>
      </div>
  </div>

  <div class="shadow-md mt-3 h-16 w-full bg-white rounded-xl flex items-center">
      <div class="context_img ml-2 mr-2">
          <img class="h-12 w-12 rounded-lg" src="https://i.pinimg.com/originals/1f/59/96/1f5996aba19e6c5f45d757e352ef4afa.jpg" alt="">
      </div>
      <div class="context_content mb-2">
          <div class="font-semibold text-sm">Contest 23: BFS</div>
          <div class="text-gray-400 cursor-pointer font-medium text-xs">19 Feb 2022,  Saturday</div>
      </div>
  </div>

  <div class="shadow-md mt-3 h-16 w-full bg-white rounded-xl flex items-center">
      <div class="context_img ml-2 mr-2">
          <img class="h-12 w-12 rounded-lg" src="https://i.pinimg.com/originals/1f/59/96/1f5996aba19e6c5f45d757e352ef4afa.jpg" alt="">
      </div>
      <div class="context_content mb-2">
          <div class="font-semibold text-sm">Contest 23: BFS</div>
          <div class="text-gray-400 cursor-pointer font-medium text-xs">19 Feb 2022,  Saturday</div>
      </div>
  </div>

  <div class="shadow-md mt-3 h-16 w-full bg-white rounded-xl flex items-center">
      <div class="context_img ml-2 mr-2">
          <img class="h-12 w-12 rounded-lg" src="https://i.pinimg.com/originals/1f/59/96/1f5996aba19e6c5f45d757e352ef4afa.jpg" alt="">
      </div>
      <div class="context_content mb-2">
          <div class="font-semibold text-sm">Contest 23: BFS</div>
          <div class="text-gray-400 cursor-pointer font-medium text-xs">19 Feb 2022,  Saturday</div>
      </div>
  </div>

  <div class="shadow-md mt-3 h-16 w-full bg-white rounded-xl flex items-center">
      <div class="context_img ml-2 mr-2">
          <img class="h-12 w-12 rounded-lg" src="https://i.pinimg.com/originals/1f/59/96/1f5996aba19e6c5f45d757e352ef4afa.jpg" alt="">
      </div>
      <div class="context_content mb-2">
          <div class="font-semibold text-sm">Contest 23: BFS</div>
          <div class="text-gray-400 cursor-pointer font-medium text-xs">19 Feb 2022,  Saturday</div>
      </div>
  </div>

</div>