{% load profile %}
<tr class="divide-x divide-gray-500">
  <td class="text-center rank">{{ rank }}</td>
  {{ user.result_cell }}
  <td class="hidden px-2 organization organization_column">
    {% if user.user.organization %}
      {{ user.user.organization.short_name }}
    {% endif %}
  </td>
  <td class="hidden px-2 username username_column">{{ user.username }}</td>
  <td class="px-2 fullname">{% link_user user.user %}</td>
  {% for cell in user.problem_cells %}
    {{ cell }}
  {% endfor %}
</tr>