<div id="{{ index }}" class="task flex grow shrink-0 basis-full transition ease-in-out duration-400 flex-col">
  <div class="mr-auto bg-black text-white w-12 h-12 flex items-center font-bold text-2xl rounded-md">
    <div class="mx-auto">
      {{ index }}
    </div>
  </div>
  <div class="w-full p-4 font-semibold text-xl">
    {% with problem=problem.problem %}
      {{ problem.description|markdown(problem.markdown_style, MATH_ENGINE)|reference|str|safe }}
    {% endwith %}
  </div>
  <div class="grid grid-cols-2 gap-2 mt-4 p-8">
    {% for label, answer in answers %}
      <div class="flex w-full items-center rounded-md">
        <input 
          type="radio" 
          name="answer_{{- problem.id -}}" 
          id="{{- problem.id -}}_{{- loop.index -}}_answer" 
          value="{{ answer }}"
          label={{ label }}
          class="peer hidden"
        >
        <label class='answer text-black cursor-pointer border-2 border-indigo-500 peer-checked:text-white peer-checked:bg-indigo-500 px-4 py-2 rounded-md space-x-2 flex flex-1' for="{{- problem.id -}}_{{- loop.index -}}_answer">
          <div class="text-xl font-bold">
            {{ label }}.
          </div>
          <div class="flex-1 text-lg">
            {{ answer|markdown(problem.problem.markdown_style, MATH_ENGINE)|reference|str|safe }}
          </div>
        </label>
      </div>
    {% endfor %}
  </div>
</div>
