<div id="{{ index }}" class="task flex grow shrink-0 basis-full transition ease-in-out duration-400 flex-col">
  <div class="mr-auto bg-black text-white w-12 h-12 flex items-center font-bold text-2xl rounded-md">
    <div class="mx-auto">
      {{ index }}
    </div>
  </div>
  <div class="w-full p-4 font-semibold text-xl">
    {% with problem=problem.problem %}
      {{ problem.description|markdown(problem.markdown_style, MATH_ENGINE)|reference|str|safe }}
    {% endwith %}
  </div>
  {% if problem.problem.answer_type == 'mc' %}
    {{ mc(problem, answers) }}
  {% elif problem.problem.answer_type == 'fill' %}
    {{ fill(problem, answers) }}
  {% endif %}
</div>
