{% extends 'base.html' %} 
{% load variable %}
{% block content_title %} 
{% title %}
{% endblock content_title %}
{% block content_media %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/accordion.min.css" integrity="sha512-8K01LT5meQmw23TL3XDMR1YQyJA7sd2CSoof3zcQYA1q065OojNdYMhYQugDfU5v5KdsdMEuKOUY6nMOCwj1HA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  @media only screen and (max-width: 767px) {
    .category {
      display: none;
    }
  }
</style>
{% endblock content_media %}
{% block content_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/accordion.min.js" integrity="sha512-QHden+jR94AVti4Gt2HcaEbLGDzdgTtSPg82N21vfCCp2gNLcYcPPuG7S77bQzSts4ujSQeg9orK7bbC1GPdlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock content_js %}
{% block content %}
<div class="w-full">
  <div class="fluid ui styled accordion">
    {% for item in levels %}
    <div class="title">
      <i class="dropdown icon"></i>
      {{ item.level }}
    </div>
    <div class="content">
      <div class="ui message">
        <strong>Welcome to {{ item.level }}</strong>
        <div><a href="{% url 'education:problem_level_list' item.level.code %}"></a></div>
      </div>
      <table class="table ui celled unstackable">
        <thead>
          <tr>
            <th>Problem</th>
            <th class="category">Category</th>
            <th class="two wide column">Difficult</th>
          </tr>
        </thead>
        <tbody>
          {% for problem in item.problems %}
          <tr>
            <td><a href="{% url 'education:problem_detail'  problem.code  %}">{{ problem.name }}</a></td>
            <td class="category">{{ problem.types.all|join:', '}}</td>
            <td>{{ problem.difficult }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %} 
{% block extends_js %}
<script>
  $(".ui.accordion").accordion();
</script>
{% endblock extends_js %}
