{% extends 'base.html' %} 
{% load variable %}
{% block content_title %} 
{% title %}
{% endblock content_title %}
{% block content_media %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/accordion.min.css" integrity="sha512-8K01LT5meQmw23TL3XDMR1YQyJA7sd2CSoof3zcQYA1q065OojNdYMhYQugDfU5v5KdsdMEuKOUY6nMOCwj1HA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  @media only screen and (max-width: 767px) {
    .category {
      display: none;
    }
  }
</style>
{% endblock content_media %}
{% block content_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/accordion.min.js" integrity="sha512-QHden+jR94AVti4Gt2HcaEbLGDzdgTtSPg82N21vfCCp2gNLcYcPPuG7S77bQzSts4ujSQeg9orK7bbC1GPdlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock content_js %}
{% block content %}
<div class="flex flex-col w-full space-y-4">
  <div class="grid grid-cols-10 [&>*]:py-3 [&>*]:px-4 w-full rounded-lg [&>*]:font-bold bg-white [&>*]:shadow-lg divide-x">
    <div class="text-white bg-blue-500 rounded-lg">Emath</div>
    <a href="#" class="text-center text-gray-600 rounded-lg bg-slate-300">Toán</a>
  </div>
  <div class="fluid ui styled accordion">
    {% for item in levels %}
    <div class="title">
      <i class="dropdown icon"></i>
      {{ item.level }}
    </div>
    <div class="content">
      <div class="flex items-center justify-between ui message">
        <strong>Welcome to {{ item.level }}</strong>
        {% if item.problems|length %}
        <div class="p-2 text-white bg-indigo-500 rounded-lg shadow-lg hover:bg-indigo-700">
          <a href="{% url 'education:problem_level_list' item.level.code %}">View all</a>
        </div>
        {% endif %}
      </div>
      {% if item.problems|length %}
      <table class="w-full mt-2 divide-y">
        <thead>
          <tr class="[&>*]:bg-indigo-500 [&>*]:text-white [&>*]:p-2 divide-x divide-slate-500">
            <th class="rounded-tl-md">Problem</th>
            <th class="w-1/3 category">Category</th>
            <th class="w-1/6 rounded-tr-md">Difficult</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-slate-500">
          {% for problem in item.problems %}
          <tr class="[&>*]:p-2 {% cycle 'bg-inherit' 'bg-slate-100' %} divide-x divide-slate-500">
            <td><a href="{% url 'education:problem_detail' problem.code  %}" class="font-bold text-blue-500 hover:text-blue-700">{{ problem.name }}</a></td>
            <td class="category">{{ problem.types.all|join:', '}}</td>
            <td class="text-center">{{ problem.difficult }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="p-4 text-lg font-bold">Sign up for this class to see class problems</div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %} 
{% block extends_js %}
<script>
  $(".ui.accordion").accordion();
</script>
{% endblock extends_js %}
