{% extends 'base.html' %} {% block content_title %} {% include 'title.html' %}
{% endblock content_title %}
{% block content %}
<div class="column">
  <div class="fluid ui styled accordion">
    {% for item in levels %}
    <div class="title">
      <i class="dropdown icon"></i>
      {{ item.level }}
    </div>
    <div class="content">
      <div class="ui message">
        <strong>Welcome to {{ item.level }}</strong>
        <div><a href="{{ url('education:problem_level_list', item.level.code)}}"></a></div>
      </div>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Problem</th>
            <th>Category</th>
            <th class="two wide column">Difficult</th>
          </tr>
        </thead>
        <tbody>
          {% for problem in item.problems %}
          <tr>
            <td><a href="{{ url('education:problem_detail', problem.code) }}">{{ problem.name }}</a></td>
            <td>{{ problem.group }}</td>
            <td>{{ problem.difficult }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %} {% block extends_js %}
<script>
  $(".ui.accordion").accordion();
</script>
{% endblock extends_js %}
