{% load markdown %}
<div class="grid grid-cols-1 gap-2 p-8 mt-4 lg:grid-cols-2 auto-rows-fr">
  {% for label, answer in answers %}
  <div class="flex items-center w-full rounded-md">
    <input
      type="radio"
      name="answer_{{ index }}"
      id="{{ index }}_{{ forloop.counter }}_answer"
      value="{{ answer }}"
      label="{{ label }}"
      class="hidden peer"
    />
    <label
      class="flex flex-1 h-full px-4 py-2 space-x-2 text-black border-2 border-indigo-400 rounded-md cursor-pointer answer peer-checked:bg-indigo-400 peer-checked:text-white"
      for="{{ index }}_{{ forloop.counter }}_answer"
    >
      <div class="text-xl font-bold">{{ label }}.</div>
      <div class="flex-1 text-lg prose">
        {% markdown answer markdown MATH_ENGINE %}
      </div>
    </label>
  </div>
  {% endfor %}
</div>
