{% extends 'base.html' %} 
{% load variable cache markdown answer %}
{% block content_title %} 
{% title %}
{% endblock content_title %}
{% block content %}
<div class="flex flex-col bg-white rounded-md shadow-md">
  <div class="p-8 text-lg font-bold prose max-w-none">
    {% cache 3600 'problem_html' problem.id MATH_ENGINE %} 
      {% markdown description problem.markdown_style MATH_ENGINE %} 
    {% endcache %}
  </div>
  <form action="{% url 'education:problem_submit' problem.code %}" method=post>
    {% if request.user.is_authenticated %}
    {% csrf_token %}
    {% endif %}
    {% if problem.answer_type == 'mc' %}
    {% mc problem answers %}
    {% elif problem.answer_type == 'fill' %}
    {% fill problem answers %}
    {% endif %}
    {% if request.user.is_authenticated %}
    <button class='w-full p-4 text-xl text-white bg-blue-600 rounded-md hover:bg-blue-800'>Submit</button>
    {% endif %}
  </form>
</div>
{% endblock content %}

{% block extends_js %}
{% include 'mathjax-load.html' %}
{% endblock extends_js %}
