<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ title }} - {{ SITE_LONG_NAME }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% if meta_description %}
        <meta name="description" content="{{ meta_description }}">
    {% endif %}
    <link href="//fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Radio+Canada&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FFBB33">
    <meta property="og:site_name" content="{{ SITE_LONG_NAME }}">
    <link rel="icon" type="image/png" href="{{ static('icons/logo.png') }}" sizes="32x32">
    {% block media %}
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    {% block content_media %} {% endblock content_media %}
    <style>
      h3.ui.block {
        background-color: #00008B !important;
        color: white;
      }
      body {
        font-family: 'Radio Canada', 'Roboto', sans-serif;
      }
      #container {
        width: calc(66% - 5rem);
      }
      @media (max-width: 1023px) {
        #container {
          width: calc(100% - 5rem);
        }
      }
      ::-webkit-scrollbar {
        width: 10px;
      }
    
      ::-webkit-scrollbar-thumb {
        background: #ccc; 
        border-radius: 10px;
      }
      #right-content::-webkit-scrollbar {
        display: none !important;
      }
      .swiper-slide {

          /* Center slide text vertically */
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
      }
      html {
          font-size: 16px !important;
      }
    </style>
    {% endblock %} {% block js_media %}
    <script src="{{ static('plugins/js/jquery.min.js') }}"></script>
    <script>{{ inlinei18n(LANGUAGE_CODE)|safe }}</script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- <script src="https://kit.fontawesome.com/bbe894510c.js" crossorigin="anonymous"></script> -->
    <script>
      if (!Date.now) {
        Date.now = function () {
            return new Date().getTime();
        };
      }
      
      function count_down(label) {
        var initial = parseInt(label.attr('data-secs'));
        var start = Date.now();
      
        function format(num) {
            var s = "0" + num;
            return s.substr(s.length - 2);
        }
      
        var timer = setInterval(function () {
            var time = Math.round(initial - (Date.now() - start) / 1000);
            if (time <= 0) {
                clearInterval(timer);
                setTimeout(function() {
                    window.location.reload();
                }, 2000);
            }
            var d = Math.floor(time / 86400);
            var h = Math.floor(time % 86400 / 3600);
            var m = Math.floor(time % 3600 / 60);
            var s = time % 60;
            if (d > 0)
                label.text(npgettext('time format with day', '%d day %h:%m:%s', '%d days %h:%m:%s', d)
                    .replace('%d', d).replace('%h', format(h)).replace('%m', format(m)).replace('%s', format(s)));
            else
                label.text(pgettext('time format without day', '%h:%m:%s')
                    .replace('%h', format(h)).replace('%m', format(m)).replace('%s', format(s)));
        }, 1000);
      }
    </script>
    {% block content_js %}{% endblock content_js %} {% endblock %}
  </head>

  <body class="bg-stone-100">
    {% include 'navbar.html' %}
    <div class="p-2 pr-4 pl-0 ml-20 mr-20 sm:p-8 pt-6" id='container'>
      {% block content_title %}{% endblock %} 
      <div class="flex flex-col mr-2">
        {% block content %} {% endblock content %}
      </div>
    </div>
    <div id="right-content" class="hidden lg:inline fixed overflow-auto top-0 right-0 ml-auto w-1/3 p-7 shadow-lg h-screen bg-white">
      {% block right_content %}
        {% include 'user/profile.html' %}
        {% block notification %}
        <div>
          <div class="flex mt-6 mb-3">
              <div class="font-semibold flex items-center">
                  <i class='bx bxs-bell-ring text-yellow-400 mr-1'></i>
                  Notifications
              </div>
              <div class="text-gray-400 ml-auto cursor-pointer font-medium text-sm">See all</div>
          </div>

          <div class="h-[360px] shadow-md rounded-xl p-4 pl-4 pr-2 pb-12">
              <div class="notifications__title flex">
                  <div class="text-base font-semibold">Online classes for newbie</div>
              </div>

              <div class="classroom_list h-full overflow-auto pr-2">

                  <div class="classroom">
                      <hr class="mt-3 mb-2">
                      <div class="class_name text-sm font-semibold flex">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                              <path d="M12 14l9-5-9-5-9 5 9 5z" />
                              <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                              <path stroke-linecap="round" stroke-linejoin="round" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                          </svg>
                          Class A1 (Coding)
                      </div>
                      <div class="class_time text-xs font-medium text-gray-400 mt-1">
                          Time: 19h30, Wenesday and Friday.
                      </div>
                      <div class="class_teacher text-xs font-medium text-gray-400 mt-1">
                          Teacher: Nguyen Duc Toan
                      </div>
                      <div class="class_teacher text-xs font-medium text-gray-400 mt-1">
                          Tutors: Ho Thi Hien
                      </div>
                      <div class="user_login_register grid grid-cols-2 gap-2 mt-2">
                          <a href="#">
                              <div class="text-white bg-black text-center text-sm p-2 rounded-lg cursor-pointer">Join class</div>
                          </a>
                          
                          <a href="#">
                              <div class="text-white bg-black text-center text-sm p-2 rounded-lg cursor-pointer">Register</div>
                          </a>
                      </div>
                  </div>

                  <div class="classroom">
                      <hr class="mt-3 mb-2">
                      <div class="class_name text-sm font-semibold flex">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                              <path d="M12 14l9-5-9-5-9 5 9 5z" />
                              <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                              <path stroke-linecap="round" stroke-linejoin="round" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                          </svg>
                          Class A1 (Coding)
                      </div>
                      <div class="class_time text-xs font-medium text-gray-400 mt-1">
                          Time: 19h30, Wenesday and Friday.
                      </div>
                      <div class="class_teacher text-xs font-medium text-gray-400 mt-1">
                          Teacher: Nguyen Duc Toan
                      </div>
                      <div class="class_teacher text-xs font-medium text-gray-400 mt-1">
                          Tutors: Ho Thi Hien
                      </div>
                      <div class="user_login_register grid grid-cols-2 gap-2 mt-2">
                          <a href="#">
                              <div class="text-white bg-black text-center text-sm p-2 rounded-lg cursor-pointer">Join class</div>
                          </a>
                          
                          <a href="#">
                              <div class="text-white bg-black text-center text-sm p-2 rounded-lg cursor-pointer">Register</div>
                          </a>
                      </div>
                  </div>

                  <div class="classroom">
                      <hr class="mt-3 mb-2">
                      <div class="class_name text-sm font-semibold flex">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                              <path d="M12 14l9-5-9-5-9 5 9 5z" />
                              <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                              <path stroke-linecap="round" stroke-linejoin="round" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                          </svg>
                          Class A1 (Coding)
                      </div>
                      <div class="class_time text-xs font-medium text-gray-400 mt-1">
                          Time: 19h30, Wenesday and Friday.
                      </div>
                      <div class="class_teacher text-xs font-medium text-gray-400 mt-1">
                          Teacher: Nguyen Duc Toan
                      </div>
                      <div class="class_teacher text-xs font-medium text-gray-400 mt-1">
                          Tutors: Ho Thi Hien
                      </div>
                      <div class="user_login_register grid grid-cols-2 gap-2 mt-2">
                          <a href="#">
                              <div class="text-white bg-black text-center text-sm p-2 rounded-lg cursor-pointer">Join class</div>
                          </a>
                          
                          <a href="#">
                              <div class="text-white bg-black text-center text-sm p-2 rounded-lg cursor-pointer">Register</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {% endblock notification %}
      {% include 'contest/recent.html' %}
      {% endblock right_content %}
    </div>
    {% block extends_js %}{% endblock extends_js %}
  </body>
</html>
