<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Emath
      {% endblock title %}
    </title>
    {% block media %}
    <link
      rel="stylesheet"
      href="{{ static('semantic-themed/semantic.min.css') }}"
    />
    {% block content_media %} {% endblock content_media %}
    <style>
      h3.block.header {
        background-color: #645153c2 !important;
        color: white;
      }
    </style>
    {% endblock %} {% block js_media %}
    <script src="{{ static('plugins/js/jquery.min.js') }}"></script>
    <!-- <script src="https://kit.fontawesome.com/bbe894510c.js" crossorigin="anonymous"></script> -->
    <script src="{{ static('semantic-themed/semantic.min.js') }}"></script>
    {% block content_js %}{% endblock content_js %} {% endblock %}
  </head>

  <body>
    <div class="ui inverted segment" id="top">
      <div class="ui sticky">
        <div class="ui inverted secondary menu">
          {% for node in mptt_tree(nav_bar) recursive %} 
          {% set children = node.get_children() %} {% if children %}
          <div class="ui dropdown item">
            <span><h3>{{ node.label }}</h3></span>
            <i class="dropdown icon"></i>
            <div class="menu">{{ loop(children) }}</div>
          </div>
          {% else %}
          <a href="{{ node.path }}" class="item">
            <h3>{{ node.label }}</h3>
          </a>
          {% endif %} {% endfor %}
          <div class="right menu">
            {% if request.user.is_authenticated %}
            <div class="ui dropdown item">
              <img
                class="ui avatar image"
                {% if request.user.email %}
                src="https://www.gravatar.com/avatar/61ed114b5efb6c8c179081e8efc00d90?d=identicon&amp;s=32"
                {% else %}
                src={{ static('user/image/avatar-none.png') }}
                {% endif %}
                height="24"
                width="24"
              />
              <span>
                <h3 style="color: white!important; margin: 0 !important;">{{ request.user.fullname }}</h3>
              </span>
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="{{ url('user_page') }}">View profile</a>
                {% if request.user.is_superuser or request.user.is_staff %}
                <a class="item" href="{{ url('admin:index')}}">
                  {{ _('Admin') }}</a
                >
                {% endif %}
                <a href="{{ url('user_edit', request.user.username)}}" class="item">Edit profile</a>
                <a href="{{ url('logout') }}" class="item">Logout</a>
              </div>
            </div>
            {% else %}
            <a href="{{ url('login') }}" class="item"><h3>Log in</h3></a>
            <a href="{{ url('register') }}" class="item"><h3>Sign up</h3></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="ui container" id="container">
      {% block content_title %}{% endblock %} 
      {% block content %} {% endblock content %}
    </div>
    <script>
      $(".ui.dropdown").dropdown({
        on: "hover",
      });
    </script>
    {% block extends_js %}{% endblock extends_js %}
  </body>
</html>
