.accept {
  background-color: #53f23f;
}

.pending {
  background-color: #ccc;
}

.wrong3 {
  background-color: red;
}

.wrong5 {
  background-color: yellow;
}

.wrong7 {
  background-color: purple;
}

.wrong9 {
  background-color: blue;
}

.pre_accept {
  background-color: #88e07f;
}

.organization_column, .username_column {
  display: none;
  font-weight: 1000;
}

.organization_column {
  width: 10rem;
}

.username_column {
  width: 15rem;
}

#ranking {
  width: 100%;
  font-size: 1em;
  border-radius: 0.28571429rem;
}
#ranking thead th {
  padding: 10px;
  color:#747474;
  font-size:14px;
  font-weight:bold;
}

.fullname {
  min-width: 10rem;
  font-weight: 1000;
}

.problem_cell {
  min-width: 60px;
  width: 70px;
  text-align: center;
  font-size: 24px;
  height: 50px;
}

#ranking tbody tr {
  color:#747474;
}

#ranking, th, td {
  border-collapse: separate;
  border: 1px solid grey;
}

#ranking thead tr:first-child>th:first-child {
  border-radius: 0.28571429rem 0 0 0;
}

td.username, td.fullname {
  padding-left: 1rem;
}

.points, .rank {
  text-align: center;
}

th.rank {
  width: 1rem;
}

th.points {
  width: 2.5rem;
}

td.rank {
  font-weight: 1000;
}

#ranking tbody {
  display: table-row-group;
  vertical-align: middle;
}
#ranking tbody tr td.points div.sub.header {
  font-size: 10px;
}

th {
  background-color: teal !important;
  color: white !important;
}

td .ui.header, td .ui.header .sub{
  color: #000 !important;
}

table, td, th {
  border-color: grey!important;
}
@media only screen and (max-width: 768px) {
  .date_field {
    display: none;
  }
}