{% extends "base.html" %}

{% block content_title %}
{% include 'title.html' %}
{% endblock content_title %}

{% block content %}
<div class="column">
    <div class="ui row segment">
        <table class="ui single line table">
            <tr>
                <th>{{ _('User:') }}</th>
                <td>{{ link_user(object.user) }}</td>
            </tr>
            <tr>
                <th>{{ _('Organization:') }}</th>
                <td>
                    {% with org=object.organization %}
                        <a href="{{ org.get_absolute_url() }}">{{ org.name }}</a>
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <th>{{ _('Time:') }}</th>
                <td>{{ object.time|date(_("N j, Y, g:i a")) }}</td>
            </tr>
            <tr>
                <th colspan="2">{{ _('Reason:') }}</th>
            </tr>
            <tr>
                <td colspan="2" style="padding-left: 2em">{{ object.reason }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}