{% extends "base.html" %}
{% block content_title %}
{% include 'title.html' %}
{% endblock content_title %}
{% block content %}
    {% include "messages.html" %}
    {% include "organization/requests/tabs.html" %}

    {% if formset.forms %}
    <div class="ui segment">
        <form class='ui form' action="" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class='ui celled table'>
                <tr>
                    <th class="two wide center aligned">{{ _('User') }}</th>
                    <th class="three wide center aligned">{{ _('Time') }}</th>
                    <th class="two wide center aligned">{{ _('State') }}</th>
                    <th class="center aligned">{{ _('Reason') }}</th>
                    {% if formset.can_delete %}
                        <th class="one wide center aligned">{{ _('Delete?') }}</th>
                    {% endif %}
                </tr>
                {% for form in formset %}
                    <tr id="request-{{ form.instance.id }}">
                        <td>{{ form.id }}{{ link_user(form.instance.user) }}</td>
                        <td><a href="{{ url('request_organization_detail', object.slug, form.instance.id) }}">
                            {{ form.instance.time|date(_("N j, Y, H:i")) }}
                        </a></td>
                        <td>{{ form.state }}</td>
                        <td>{{ form.instance.reason|truncatechars(50) }}</td>
                        {% if formset.can_delete %}
                            <td>{{ form.DELETE }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <button type="submit" class="fluid ui button">{{ _('Update') }}</button>
        </form>
    </div>
    {% else %}
        <p>{{ _('There are no requests to approve.') }}</p>
    {% endif %}
{% endblock %}

{% block extends_js %}
{% include 'message_js.html' %}
{% endblock extends_js %}