{% extends 'base.html' %}
{% load static variable %}
{% block content_title %}
  {% title %}
{% endblock content_title %}

{% block content_media %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/search.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/dropdown.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/transition.min.css" />
{% endblock content_media %}

{% block content_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/search.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/transition.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/api.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/dropdown.min.js"></script>
{% endblock content_js %}

{% block content %}
{% if page_obj and page_obj.has_other_pages %}
<div class="flex flex-col items-start py-4 md:justify-between md:items-center md:flex-row">
  <div class="basis-1/2">
  {% include 'list-page.html' %}
  </div>
  <div class="basis-1/4">
    <div class="ui category search">
      <div class="relative flex items-center">
        <input class="w-full p-2 pl-10 text-sm font-medium border outline-none prompt !rounded-lg peer focus:ring-indigo-500 focus:ring-1 focus:border-indigo-500" type="text" placeholder="Search username...">
        <span class="absolute flex items-center w-10 h-full left-px peer-focus:text-black">
          <i class="mx-auto fa-solid fa-magnifying-glass"></i>
        </span>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>
{% endif %}
{% block table_user %}
{% include 'user/user-table.html' %}
{% endblock table_user %}
{% if page_obj and page_obj.has_other_pages %}
<div class="ui segment">
  {% include 'list-page.html' %}
</div>
{% endif %}
{% endblock content %}

{% block extends_js %}
{% block user_js %}{% endblock user_js %}
<script>
  $('.ui.search')
    .search({
      type          : 'category',
      minCharacters : 3,
      apiSettings   : {
        url: '{% url "backend:select_profile"  %}?term={query}',
        onResponse: function(backendResponse) {
          var response = {
            results : {}
          };
          $.each(backendResponse.results, function(index, item) {
            var maxResult = 8, display_rank = item.display_rank;
            if (index >= maxResult) return false;
            if (response.results[display_rank] === undefined) {
              response.results[display_rank] = {
                name    : display_rank,
                results : []
              }
            }
            response.results[display_rank].results.push({
              title: item.user,
              image: item.gravatar_url,
              url: '{% url "user_page" %}' + item.user
            });
          });
          return response;
        }
      }
    });
</script>
{% endblock extends_js %}