{% extends 'base.html' %} {% block content_title %}
<h3 class="ui header block">{{ title }}</h3>
{% endblock content_title %} {% block content_media %} {{ form.media.css }}
<style>
  fieldset {
    width: 100%;
  }
</style>
{% endblock content_media %} {% block content %}
<div class="column">
  <div class="ui row segment">
    <form action="" class="ui form" method="post">
      {% csrf_token %}
      <div class="ui grid">
        <div class="row">
          <fieldset>
            <legend class="ui header">Information</legend>
            <div class="required field">
              {{ form.fullname.label_tag() }} {{ form.fullname }}
            </div>
            <div class="field">
              {{ form.email.label_tag() }} {{ form.email }}
            </div>
            <div class="field">{{ form.about.label_tag() }} {{ form.about }}</div>
          </fieldset>
        </div>
        {% if request.user.is_superuser %}
        <div class="row">
          <fieldset>
            <legend class="ui header">{{ _('Permission') }}</legend>
            <div class="equal width fields">
              <div class="{% if user==request.user %}disabled {% endif %} field">
                <div class="ui checkbox">
                  {{ form.is_active }}
                  <label>{{ form.is_active.label }}</label>
                  <small>{{ form.is_active.help_text }}</small>
                </div>
              </div>
            </div>
            <div class="equal width fields">
              <div class="field">
                <div class="ui checkbox">
                  {{ form.is_staff }}
                  <label>{{ form.is_staff.label }}</label>
                  <small>{{ form.is_staff.help_text }}</small>
                </div>
              </div>
            </div>
            <div class="equal width fields">
              <div class="field">
                <div class="ui checkbox">
                  {{ form.is_superuser }}
                  <label>{{ form.is_superuser.label }}</label>
                  <small>{{ form.is_superuser.help_text }}</small>
                </div>
              </div>
            </div>
            <div class="equal width fields">
              <div class="field">
                {{ form.groups.label_tag() }} {{ form.groups }}
              </div>
            </div>
          </fieldset>
        </div>
        {% endif %}
        <div class="row">
          <button class="fluid ui button" style="margin-top: 20px">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %} {% block extends_js %} {{ form.media.js }} {% endblock
extends_js %}
