{% load static %}
{% if request.user.is_authenticated %}
{% else %}
<div class="w-full h-auto p-4 bg-white shadow-md rounded-xl">
  <div class="flex items-center">
      <img class="w-12 h-12 mr-4 rounded-full" src="{% static 'icons/user.png' %}" alt="">
      <div class="">
          <div class="text-base font-semibold">Welcome!✋🏻</div>
          <div class="text-xs font-medium text-gray-400">Let's learn something new today</div>
      </div>
  </div>
  <div class="grid grid-cols-2 gap-2 mt-4 user_login_register">
      <a href="{% url 'login' %}">
          <div class="p-2 text-sm text-center text-white bg-black rounded-lg cursor-pointer">Login</div>
      </a>
      <a href="{% url 'register' %}" class="p-2 text-sm text-center text-white bg-black rounded-lg cursor-pointer">Register</a>
  </div>
</div>
{% endif %}